.normalize{
    margin-left:20px;
    margin-right:20px;
}
body{
    color: #9e9d8e;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container{
  margin-top:20px;
  margin-left:50px;
  margin-right:50px;
}

h1 {
  font-size: 80px;
  margin-bottom: 40px;
}

div.hidden {
    display: none;
    background-color: #EAE1E1;
}

.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #E8ECEF;
  opacity: 1;
}

/*for vue.js*/
li.done {
  color: #7f8c8d;
  text-decoration: line-through;
}
